
<% content_for :for_head do %>

<% @card_urls = [] %>
<% @cards_for_this_game.each do |card| %>
<% @card_urls.push(url_for(card.card_image)) %>
<% end %>

<script>
    var card_array = <%= raw @card_urls.to_json %>
    var loop = <%= @game.loop %>
</script>



<% end %>

<div id="play-container">

    <h1>Playing <%= @game.title %> - Difficulty: <%= @difficulty_mode.name %></h1>

    <div>
        Cards in deck: <span id="cards-in-deck"></span> Discarded: <span id="cards-discarded"></span>
    </div>

    <div id="card-div"><img id="card" src=""/></div>

    <div id="play-button-div">
        <button id="draw-card-button" class="btn btn-dark btn-lg">Draw a Card</button>
    </div>

</div>


<%= javascript_pack_tag 'cards' %>


