<h1>List of Games</h1>
 
<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Text</th>
    <th>Added By</th>
  </tr>
 
  <% @games.each do |game| %>
    <tr>
      <td><%= image_tag 'meeple.png', height: '32', width: '32' %></td>
      <td class="game-title-td"><%= game.title %></td>
      <td class="game-text-td"><%= game.text %></td>
      <td><%= game.user.display_name %></td>
      <td class='td-link'><%= link_to 'Show', game_path(game) %>
        <% if userCanEdit(game) %>
             | <%= link_to 'Delete', game_path(game), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
          </td>
    </tr>
  <% end %>
</table>