
  <% if flash.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(flash.count, "error") %> prohibited
        this game from being saved:
      </h2>
      <ul>
        <% flash.each do |type, msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<h2>Game Info</h2>
<table>
    <tr>
        <th>Title</th>
        <th>Text</th>
        <th>Loop</th>
        <th>Number of Cards</th>
    </tr>

    <tr>
        <td class="game-title-td">
          <%= @game.title %>
        </td>

        <td class="game-text-td">
          <%= @game.text %>
        </td> 
        <td>

          <%= @game.loop %>
        </td> 

        <td class="number-of-cards-column">
          <%= @game.number_of_cards == 0 ? "All" : @game.number_of_cards %>
        </td>
    </tr>
</table>


<h2>Decks:</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Number of Cards</th>
    </tr>

<% @game.decks.each do |deck| %>
    <tr>
      <td class="game-title-td">
        <%= deck.name %>
      </td>      
      <td class="number-of-cards-column">
            <%= deck.cards.length %>
      </td>
      <td class="td-link">
        <%= link_to 'Show', game_deck_path(:game_id => @game.id, :id => deck.id) %>
      </td>
      <% if userCanEdit(@game) %>
        <td class="td-link">
          <%= link_to 'Delete', game_deck_path(:game_id => @game.id, :id => deck.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      <% end %>
    </tr>
<% end %>
</table>


<% if userCanEdit(@game) %>
<h2>Add a deck:</h2>
<%= form_with(model: [ @game, @game.decks.build ], local: true) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<% end %>

<h2>Difficulty Modes:</h2>
<table>
    <tr>
        <th>Name</th>
    </tr>
<% @game.difficulty_modes.each do |difficulty_mode| %>
    <tr>
        <td class="game-title-td">
            <%= difficulty_mode.name %>
        </td>        
      <td class="td-link">
        <%= link_to 'Show', game_difficulty_mode_path(:game_id => @game.id, :id => difficulty_mode.id) %>
      </td>
      <% if userCanEdit(@game) %>
        <td class="td-link">
            <%= link_to 'Delete', game_difficulty_mode_path(:game_id => @game.id, :id => difficulty_mode.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      <% end %>
 </tr>
<% end %>
</table>

<% if userCanEdit(@game) %>
<h2>Add a difficulty mode:</h2>
<%= form_with(model: [ @game, @game.difficulty_modes.build ], local: true) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<% end %>