<h1>Deck</h1>

<p>
  <strong>Name:</strong>
  <%= @deck.name %>
</p>

<p>
  <strong>Number of cards in this deck:</strong>
  <%= @deck.cards.length %>
</p>

<h1>New Card</h1>

<%= form_with scope: :card, url: game_deck_cards_path(:deck_id => @deck.id, :game_id => @deck.game_id), local: true do |form| %>

  <p>
    <%= form.label "Card Image" %><br>
    <%= form.file_field :card_image %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>

<h2>Cards:</h2>
<% @deck.cards.each do |card| %>
  <p>
      <%= image_tag card.card_image %>

      <% if userCanEdit(@deck.game) %>
        <br>
        <%= link_to 'Delete', game_deck_card_path(:game_id => @deck.game_id, :deck_id => @deck.id, :id => card.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
  </p>
<% end %>



